Started mongodb using the command
mongod --dbpath ~/data/db

http://api.mongodb.com/python/current/tutorial.html

https://www.w3schools.com/python/python_mongodb_getstarted.asp

In [43]:
import os
import pandas as pd
import numpy as np
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version', pymongo.__version__)
client = MongoClient('0.0.0.0', 27017)
db = client.test
collection = db.people

Mongo version 3.8.0

In [44]:
print(db.people)

Collection(Database(MongoClient(host=['0.0.0.0:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'people')

In [45]:
import datetime
post = {"author": "Mike",
"text": "My first blog post!",
"tags": ["mongodb", "python", "pymongo"],
"date": datetime.datetime.utcnow()}

In [46]:
print(post)

{'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2019, 6, 13, 21, 9, 35, 219173)}

In [47]:
posts = db.posts
post_id = posts.insert_one(post).inserted_id
post_id

ObjectId('5d02bb94016ab3af674392bc')

In [48]:
db.list_collection_names()

['posts']

In [49]:
dataentry=db.posts.find({})
db.posts.count()

/Users/mikegriffiths/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

2

In [13]:
print(dataentry)

<pymongo.cursor.Cursor object at 0x10ef22c18>

In [15]:
import pprint
pprint.pprint(posts.find_one())

{'_id': ObjectId('5d00a3aa016ab3af674392b5'),
 'author': 'Mike',
 'date': datetime.datetime(2019, 6, 12, 7, 1, 39, 576000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [18]:
pprint.pprint(dataentry)

<pymongo.cursor.Cursor object at 0x11e90ff98>

In [25]:
#objectid=ObjectId('5d00a3aa016ab3af674392b5')
pprint.pprint(posts.find({"_id":post_id}))
pprint.pprint(posts.find({"author":"Mike"}))

<pymongo.cursor.Cursor object at 0x11e9c2cf8>
<pymongo.cursor.Cursor object at 0x11e9c2cc0>

In [28]:
for x in posts.find({"author":"Mike"}):
    print(x)

In [66]:
import json




with open('data/dummyData.json') as json_file:
    data=json_file.read()
    
    obj = json.loads(data)
#    for p in data['Name']:
#        print('Name: ' + p['Name'])
#        print('Age: ' + p['Age'])
#        print('Country: ' + p['Country'])
#        print('Location: ' + p['Location'])
#        print('')

In [67]:
print(obj)


#print(data)

{'people': [{'Name': 'Quinn, Alfonso Y.', 'Age': 61, 'Country': 'Northern Mariana Islands', 'Location': '-20.77447, -11.73429'}, {'Name': 'Dominguez, Jasmine S.', 'Age': 31, 'Country': 'Comoros', 'Location': '-61.56115, -147.43152'}, {'Name': 'Potts, Destiny J.', 'Age': 24, 'Country': 'Nicaragua', 'Location': '-54.60926, 126.32675'}, {'Name': 'Morgan, Tucker S.', 'Age': 41, 'Country': 'Grenada', 'Location': '29.92717, 169.26014'}, {'Name': 'Mcintyre, Caesar U.', 'Age': 40, 'Country': 'United States', 'Location': '-25.48981, 42.39013'}]}

In [77]:
obj['people'][2]

{'Name': 'Potts, Destiny J.',
 'Age': 24,
 'Country': 'Nicaragua',
 'Location': '-54.60926, 126.32675'}

In [79]:
for item in obj['people']:
    print(item['Country'])

Northern Mariana Islands
Comoros
Nicaragua
Grenada
United States

In [80]:
collection = db.countries
for item in obj['people']:
    country = {"Name": item['Name'],"Age": item['Age'],"Country": item['Country'],"Location": item['Location']}
    country_id = collection.insert_one(country).inserted_id

In [81]:
db.list_collection_names()

['posts', 'countries']

In [83]:
for x in collection.find({}):
    print(x)

{'_id': ObjectId('5d02c780016ab3af674392bd'), 'Name': 'Quinn, Alfonso Y.', 'Age': 61, 'Country': 'Northern Mariana Islands', 'Location': '-20.77447, -11.73429'}
{'_id': ObjectId('5d02c780016ab3af674392be'), 'Name': 'Dominguez, Jasmine S.', 'Age': 31, 'Country': 'Comoros', 'Location': '-61.56115, -147.43152'}
{'_id': ObjectId('5d02c780016ab3af674392bf'), 'Name': 'Potts, Destiny J.', 'Age': 24, 'Country': 'Nicaragua', 'Location': '-54.60926, 126.32675'}
{'_id': ObjectId('5d02c780016ab3af674392c0'), 'Name': 'Morgan, Tucker S.', 'Age': 41, 'Country': 'Grenada', 'Location': '29.92717, 169.26014'}
{'_id': ObjectId('5d02c780016ab3af674392c1'), 'Name': 'Mcintyre, Caesar U.', 'Age': 40, 'Country': 'United States', 'Location': '-25.48981, 42.39013'}

In [90]:
for x in collection.find({"Country":"Nicaragua"}):
    print(x)

{'_id': ObjectId('5d02c780016ab3af674392bf'), 'Name': 'Potts, Destiny J.', 'Age': 24, 'Country': 'Nicaragua', 'Location': '-54.60926, 126.32675'}